@import url('https://fonts.googleapis.com/css?family=Pacifico');

#container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 60px;
  top: 30px;
}

