@import url('https://fonts.googleapis.com/css?family=Pacifico');

#container {
  width: 100%;
  padding-bottom: 5px;
  background: linear-gradient(to left, #dad3b8, #e8e1c6, #f0eed3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05),
              0 1px 2px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Pacifico';
  font-size: 1.6rem;
  display: inline;
  margin-left: -20px;
  vertical-align: 2px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}