.venue-card {
  height: 100%;
  display: inline-block;
  background-attachment: fixed;
  background-size: cover;
  scroll-snap-align: start;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.card-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);

  .name {
    transition: 1s;
    max-width: 60%;
    font-weight: 700;
    white-space: pre-wrap;
    font-size: 3rem;
    text-align: left;
    background: #333333;
    padding: 10px 30px 10px 20px;
    color: #f2f2d9;
    position: absolute;
    top: 10%;
    right: 20px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15),
                -2px 2px 4px rgba(0, 0, 0, 0.1),
                -3px 3px 6px rgba(0, 0, 0, 0.05);
  }
}