html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #dad3b8, #e8e1c6, #f0eed3);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
